{% extends "main.html" %}
{% block title %}About{% endblock %}
{% block head %}
{{ super() }}
<style type="text/css">
</style>
{% endblock %}

{% block content %}
<div class="panel">
    <div class="content">
        <h2>About</h2>
        <p>Currently, I live in New York City and work as an algorithm engineer at <a href="http://www.driversiti.com">Driversiti</a>.</p>
        <p>I was born in İstanbul and lived in the same apartment which is in the old historic area that is inside the Byzantian city walls for 27 years.</p>
        <p>There, I studied physics at college. Then I made masters' in physics. My thesis was about picking up relevant events under high rate event generating conditions of high energy physics particle accelerator events.</p>
        <p>However, my heart belonged to theoretical physics and I made PhD on fundamentals of quantum mechanics. To do that I moved to US in 2010. Here, I studied how to tell whether a physical system at hand can be explained only classical physics or quantum mechanics is necessary using a framework called Bell inequalities.</p>
        <p>I'm interested in music, anime, literature, computers, social justice, politics etc.</p>
        <p>I don't like this impact-oriented, self-marketing language of resumes, though, most recent resume is <a href="">here</a>.</p>

        <h2>Contact</h2>
        <p>
        <a href="https://www.facebook.com/ugurguney" title="Facebook"><i class="fa fa-facebook-square"></i></a>
        <a href="https://twitter.com/ugurguney" title="Twitter"><i class="fa fa-twitter"></i></a>
        <a href="https://github.com/vug" title="GitHub"><i class="fa fa-github"></i></a>
        <a href="https://www.instagram.com/vuguney" title="Instagram"><i class="fa fa-instagram"></i></a>
        <a href="https://plus.google.com/u/0/+U%C4%9FurG%C3%BCney" title="Google+"><i class="fa fa-google-plus"></i></a>
        <a href="https://www.linkedin.com/in/ugurguney" title="LinkedIn"><i class="fa fa-linkedin"></i></a>
        <a href="http://stackoverflow.com/users/5394043/u%C4%9Fur-g%C3%BCney" title="StackOverflow"><i class="fa fa-stack-overflow"></i></a>
        <a href="https://soundcloud.com/vug" title="StackOverflow"><i class="fa fa-soundcloud"></i></a>
        </p>
    </div>
</div>    
{% endblock %}