{% extends "main.html" %}
{% block title %}Home{% endblock %}
{% block head %}
{{ super() }}
<style type="text/css">
    // additional styles specific for this form goes here
</style>
{% endblock %}

{% block content %}
<div class="panel">
    <div class="content">
        <h2>About</h2>
        <p>Currently, I live in New York City and work as an algorithm engineer at <a href="http://www.driversiti.com">Driversiti</a>.</p>

        <h2>Contact</h2>
        <p>
        <a href="https://www.facebook.com/ugurguney" title="Facebook"><i class="fa fa-facebook-square"></i></a>
        <a href="https://twitter.com/ugurguney" title="Twitter"><i class="fa fa-twitter"></i></a>
        <a href="https://github.com/vug" title="GitHub"><i class="fa fa-github"></i></a>
        <a href="https://www.instagram.com/vuguney" title="Instagram"><i class="fa fa-instagram"></i></a>
        <a href="https://plus.google.com/u/0/+U%C4%9FurG%C3%BCney" title="Google+"><i class="fa fa-google-plus"></i></a>
        <a href="https://www.linkedin.com/in/ugurguney" title="LinkedIn"><i class="fa fa-linkedin"></i></a>
        <a href="http://stackoverflow.com/users/5394043/u%C4%9Fur-g%C3%BCney" title="StackOverflow"><i class="fa fa-stack-overflow"></i></a>
        <a href="https://soundcloud.com/vug" title="StackOverflow"><i class="fa fa-soundcloud"></i></a>


        </p>

        <div id="footer">{% block footer %}<small>May 2016</small>{% endblock %}</div>
    </div>
</div>    

{% endblock %}