{% extends "main.html" %}
{% block title %}About{% endblock %}
{% block unittestphrase %}about_page{% endblock %}
{% block head %}
{{ super() }}
<style type="text/css">
</style>
{% endblock %}

{% block content %}
<div class="panel">
    <div class="content">
        <h2>Hi!</h2>
        <p>
            I am Uğur Güney.
            Here, at my personal website, I present my <a href="projects.html">side projects</a>, and write blog posts.
            (Also using it as a laboratory for me to study web app development.)
        </p>

        <h2>About</h2>
        <p>I live in New York City and work as a software engineer at <a href="http://www.instagram.com">Instagram</a>.</p>
        <p>
            I am a Physics PhD who did research on designing custom CPUs for particle detection at high event rate experiments and fundamentals of quantum mechanics, <a href="http://academicworks.cuny.edu/gc_etds/958/">Bell's Theorem</a>. 
            Self emergent phenomenon and self-organization are other physics topics I love.
        </p>
        <div style="text-align: center">
            <img src="/static/images/ugur_einstein.jpg" alt="At Madame Tussauds Museum" width="300"><br>
            <span style="display: inline-block; width: 400px">
                <small>Solving crossword puzzle with an old friend. "Experiments done by theoretical physicists. 18 letters: Ged_nkenexp_rim_nt"</small>
            </span>
        </div>

        <p>I'm interested in music, anime, animation, literature, computers, social justice, politics etc.</p>

        <h2>Contact</h2>
        <p>
            <a href="https://github.com/vug" title="GitHub"><i class="fa fa-github"></i></a>
            <a href="https://twitter.com/ugurguney" title="Twitter"><i class="fa fa-twitter"></i></a>
            <a href="https://www.linkedin.com/in/ugurguney" title="LinkedIn"><i class="fa fa-linkedin"></i></a>
            <a href="http://stackoverflow.com/users/5394043/u%C4%9Fur-g%C3%BCney" title="StackOverflow"><i class="fa fa-stack-overflow"></i></a>
            <a href="https://www.facebook.com/ugurguney" title="Facebook"><i class="fa fa-facebook-square"></i></a>
            <a href="https://soundcloud.com/vug" title="StackOverflow"><i class="fa fa-soundcloud"></i></a>
            <a href="https://www.instagram.com/vuguney" title="Instagram"><i class="fa fa-instagram"></i></a>
        </p>
    </div>
</div>    
{% endblock %}