<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="unittest" content="admin_page">
  <meta charset="UTF-8">
  <title>Admin</title>
</head>
<body>
<p>Welcome to admin page. You must be a PersonalWebApp user: {{ current_user }}</p>
<ul>
  <li>email {{ current_user.email }}</li>
  <li>fullname {{ current_user.fullname }}</li>
</ul>
<ul>
  <li><a href="/">Home</a></li>
  <li><a href="/log_report">Log report</a> via Goaccess</li>
  <li><a href="/access_pattern">Access pattern graph </a> via Visitors</li>
  <li><a href="/logout">Logout</a></li>
</ul>
</body>
</html>
