{% extends "main.html" %}
{% block title %}Home{% endblock %}
{% block unittestphrase %}blog_posts_list_page{% endblock %}
{% block head %}
{{ super() }}
<style type="text/css">
</style>
{% endblock %}

{% block content %}
<div class="panel">
    <div class="content">
    	<h2>Posts</h2>
	    <ul>
	    {% for post in posts %}
	        <li><a href=/blog/{{post.url}}>{{post.title}}</a></li>
	    {% endfor %}
	    </ul>
		<h2>Tags</h2>
		<div>
			{% for tag in tags %}<a href="#">{{tag}}</a> {% endfor %}
		</div>
    </div>
</div>
{% endblock %}
