{% extends "main.html" %}
{% block title %}Editing {{title}}{% endblock %}
{% block head %}
{{ super() }}
<style type="text/css">
#url, #title, #content {
  width: 100%;
}
#content {
  height: 300px;
}
</style>
{% endblock %}

{% block content %}
<div class="panel">
    <div class="content">
        <form action="/blog/edit/{{post.id}}" method=post>
        {{ form.title.label }}<br>
        {{ form.title | safe }}<br>
        {{ form.url.label }}<br>
        {{ form.url | safe }}<br>
        {{ form.state.label }} {{ form.state | safe }}<br>
        {{ form.content.label }}<br>
        {{ form.content | safe }}<br>
        {{ form.submit }}
        </form>
        <input type="button" value="Delete"> <input type="button" value="Preview">
    </div>

</div>
{% endblock %}
