{% extends "main.html" %}
{% block title %}{{title}}{% endblock %}
{% block head %}
{{ super() }}
<style type="text/css">
</style>
{% endblock %}

{% block content %}
<div class="panel">
    <div class="content">
        <h2>{{post.title}}</h2>
        {{content}}
    <small>
        {% if post.published_at %}published at: {{ post.published_at.strftime('%Y-%m-%d %H:%M') }}{% endif %}
        {% if post.edited_at %} edited at: {{ post.edited_at.strftime('%Y-%m-%d %H:%M') }}{% endif %}<br>
        tags: {% for tag in post.tags %}<a href="/blog/tag/{{tag.name}}">{{tag.name}}</a> {% endfor %}
    </small>
    </div>
</div>
{% endblock %}


