{% extends "main.html" %}
{% block title %}Editing {{title}}{% endblock %}
{% block head %}
{{ super() }}
<style type="text/css">
#url, #title, #content {
  width: 100%;
}
#content {
  height: 300px;
}
</style>
{% endblock %}

{% block content %}
<div class="panel">
    <div class="content">
        <a href="/blog/post/{{post.url}}">View Post</a>
        {% for message in get_flashed_messages() %}
            <div class="flash">{{ message }}</div>
        {% endfor %}
        {% from "_formhelpers.html" import render_field %}
        <form action="/blog/edit/{{post.id}}" method=post>
        {{ form.hidden_tag() }}
        {{ render_field(form.title) }}
        {{ render_field(form.url) }}
        {{ render_field(form.state) }}
        {{ render_field(form.content) }}
        {{ render_field(form.tags) }}
        {{ form.submit }}<input type="button" value="Preview" id="preview-button">
        </form>
        <form action="/blog/delete/{{post.id}}" method=post
              onsubmit="return confirm('Confirm that you want to delete this post?');">
          <input type="submit" value="Delete">
        </form>
    </div>
</div>
<div class="panel">
  <div class="content" id="preview"></div>
</div>

<script>
var preview = document.getElementById('preview');
var previewButton = document.getElementById('preview-button');
previewButton.addEventListener('click', function() {
  var markdownText = document.getElementById('content').value;
  $.ajax({
    method: 'POST',
    url: '/blog/preview',
    data: {markdown: markdownText}
  })
  .done(function(response) {
    preview.innerHTML = response;
    MathJax.Hub.Typeset();
  });
});
</script>
{% endblock %}
