{% extends "main.html" %}
{% block title %}Edit Tags{% endblock %}
{% block unittestphrase %}blog_edit_tags{% endblock %}
{% block head %}
{{ super() }}
<style type="text/css">
</style>
{% endblock %}

{% block content %}
<div class="panel">
    <div class="content">
        <ul>
        {% for tag in tags %}
        <li>
            <input type="text" value="{{tag.name}}" id="tag{{tag.id}}">
            <input type="button" value="Rename" data-id="{{tag.id}}" onclick="rename(this)">
            <input type="button" value="Delete" data-id="{{tag.id}}" onclick="delete_tag(this)">
        </li>
        {% endfor %}
        <li><input type="text"> <input type="button" value="Create New Tag"></li>
        </ul>
    </div>
</div>

<script>
    function rename(el) {
        var id = el.dataset.id;
        var name = document.getElementById('tag'+id).value;
        var url = '/blog/tags/' + id + '?name=' + name;

        $.ajax({
            method: 'PUT',
            url: url
        })
        .done(function(response) {
            location.reload();
        });
    }

    function delete_tag(el) {
        var id = el.dataset.id;
        var url = '/blog/tags/' + id;

        $.ajax({
            method: 'DELETE',
            url: url
        })
        .done(function(response) {
            location.reload();
        });
    }
</script>
{% endblock %}
