{% extends "main.html" %}
{% block title %}Home{% endblock %}
{% block unittestphrase %}home_page{% endblock %}
{% block head %}
{{ super() }}
<style type="text/css">
</style>
{% endblock %}

{% block content %}
<div class="panel">
    <div class="content">
        <h2>Hi!</h2>
        <p>I am Uğur Güney and this is my personal website. Here, I present stuff I made, my works and projects,
        study web app development, share biographic information, and write blog posts.</p>

        <h2>Recent Updates</h2>
        <p><a href="http://ec2-54-172-189-178.compute-1.amazonaws.com/static/game_01.html">Projects / Realtime Multiplayer Game</a></p>
    </div>
</div>    
{% endblock %}

{% block footer %}June 2016{% endblock %}
