{% extends "main.html" %}
{% block title %}Home{% endblock %}
{% block unittestphrase %}home_page{% endblock %}
{% block head %}
{{ super() }}
<style type="text/css">
</style>
{% endblock %}

{% block content %}
<div class="panel">
    <div class="content">
        <h2>Hi!</h2>
        <p>I am Uğur Güney.
            A physics PhD who has been working at Data Science and Algorithm Engineering positions.
            Here, at my personal website, I present work and project stuff I made, study web app development,
            share biographic information, and write blog posts.
        </p>

        <!--
        <h2>Recent Updates</h2>
        <p><a href="http://ec2-54-172-189-178.compute-1.amazonaws.com/static/game_01.html">Projects / Realtime Multiplayer Game</a></p>
        -->
    </div>
</div>    
{% endblock %}

{% block footer %}November 2016{% endblock %}
