{% extends "main.html" %}
{% block title %}Music{% endblock %}
{% block head %}
{{ super() }}
<style type="text/css">
</style>
{% endblock %}

{% block content %}
<div class="panel">
    <div class="content">
        <h1>Sakareller</h1>
        <p>I played guitar and synths in <a href="http://www.sakareller.net/en/">Sakareller</a>. Just before I had come
        to NYC, in 2010, we released an album "Beş Dakika Daha" (meaning "Five More Minutes") back in Turkey. You can listen
        to it <a href="https://open.spotify.com/album/2RhZdN0r9zml1mnh9DQApe">on Spotify</a>.</p>
        <p>Here are some self-made or fan-made music videos that uses footages from old movies or documentaries.</p>
        <div style="text-align: center;">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/i9DqYCkjIVE" frameborder="0" allowfullscreen></iframe>
            <iframe width="420" height="315" src="https://www.youtube.com/embed/KE_acDAempg" frameborder="0" allowfullscreen></iframe>
            <iframe src="https://player.vimeo.com/video/13586794" width="640" height="480" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        </div>
        <p>And a concert performance at <a href="http://www.peyote.com.tr/#!peyotenevizade/e6zct">Peyote</a>.
        I am playing the bass here because our bass player is playing the bağlama :-).</p>
        <div style="text-align: center;">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/W-FjG620BHg" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
</div>

<div class="panel">
    <div class="content">
        <h1>Personal</h1>
        <p>I also made some small compositions (for video game soundtracks, to celebrate friends' birthdays or for fun)
        that I uploaded to Soundcloud. "Coevolution" was the last one I made some long time ago.</p>
        <iframe width="100%" height="200" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/170747671&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>

        <p>And this is a playlist of some old pieces.</p>
        <iframe width="100%" height="600" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/1024712&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
    </div>
</div>

<div class="panel">
    <div class="content">
        <h1>Super Axel & Rey Cortes Brothers and Uğur</h1>
        <p>While doing PhD at CUNY Graduate Center Physics Department, I was lucky enough to make music with
        my very talented classmate Axel and his talented brother Rey. Here are some vides from our rehearsals.</p>
        <div style="text-align: center;">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/fPFx83oBnPY" frameborder="0" allowfullscreen></iframe>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/u799kVlOZCg" frameborder="0" allowfullscreen></iframe>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/ykxNKgL06r4" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
</div>
{% endblock %}
