{% extends "main.html" %}
{% block title %}Projects{% endblock %}
{% block unittestphrase %}projects_page{% endblock %}
{% block head %}
{{ super() }}
<style type="text/css">
</style>
{% endblock %}

{% block content %}
<div class="panel">
    <div class="content">
        <h2>Projects</h2>
        <h3>This Web Site</h3>
        <p><a href="http://ec2-54-172-189-178.compute-1.amazonaws.com/">Uğur's personal page</a>.
        It is a Flask web application. Most pages are static HTML and CSS.
        The blog section is dynamic content written in
        <a href="http://daringfireball.net/projects/markdown/">Markdown</a>. Markdown files are rendered to HTML
        in Flask using <a href="https://flask-misaka.readthedocs.io/en/latest/">Flask-Misaka</a> extension.
        May 2016.</p>

        <h3>PyOpenGL</h3>
        <p><a href="https://github.com/vug/learning-opengl">learning-opengl</a>. May 2016.</p>

        <h3>Twitter Bot</h3>
        <p>Twitter account: <a href="https://twitter.com/ergenbot">@ErgenBot</a>. GitHub Repo:
            <a href="https://github.com/vug/ergenbot">ergenbot</a>. May 2016.</p>

        <h3>Realtime Multiplayer Game</h3>
        <p><a href="http://ec2-54-172-189-178.compute-1.amazonaws.com/static/game_01.html">Realtime Multiplayer Game</a>.
        April 2016.</p>
    </div>
</div>
{% endblock %}
