{% extends "main.html" %}
{% block title %}Research{% endblock %}
{% block head %}
{{ super() }}
<style type="text/css">
</style>
{% endblock %}

{% block content %}
<div class="panel">
    <div class="content">
        <h1>Deep Learning. Landscapes.</h1>
    </div>
</div>

<div class="panel">
    <div class="content">
        <h1>PhD. Foundations of Quantum Mechanics</h1>
    </div>
</div>

<div class="panel">
    <div class="content">
        <h1>Masters. Fast Trigger Design.</h1>
    </div>
</div>
{% endblock %}
